header {
  width: 100%;
  height: 100px;
  background: #082960;
}
header .header {
  margin: auto;
  width: 1024px;
  height: 100px;
  background: #082960;
}
header .header ul li {
  height: 100px;
  float: left;
}
header .header ul li a {
  margin: 0px 50px;
  width: 50px;
  height: 100px;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}
header .header ul li:hover {
  background: rgba(70, 72, 94, 0.4);
  border-bottom: 2px solid #4886FF;
}
header .header div {
  width: 200px;
  float: right;
}
header .header div #money {
  color: #ffd000;
  line-height: 100px;
}
header .header div img {
  margin: 25px 25px 25px 0;
  width: 50px;
  height: 50px;
  float: right;
}

main {
  width: 100%;
  height: 1300px;
  background: radial-gradient(#063e9b, #031b43);
  position: relative;
  overflow: hidden;
}
main .open {
  margin: auto;
  margin-top: 300px;
  width: 256px;
  height: 300px;
}
main .open div {
  width: 256px;
  height: 198px;
  position: relative;
  overflow: hidden;
}
main .open div img {
  width: 256px;
}
main .open div .goods {
  padding: 4px 0;
  width: 4010px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: open forwards 10s ease-in-out;
}
main .open div #arms {
  margin-right: 10px;
  padding-top: 35px;
  width: 160px;
  height: 190px;
  float: left;
}
main .open div #arms img {
  width: 160px;
}
main .open input {
  margin: 4px 28px 0 28px;
  width: 200px;
  height: 50px;
  background: #031b43;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
main .show {
  width: 1024px;
  height: 700px;
  background: #031333;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
  bottom: -600px;
  right: 0;
  left: 0;
  margin: auto;
}
main .show #header {
  margin: 0;
  width: 100%;
  height: 50px;
  background: #060e9b;
  border-radius: 20px 20px 0 0;
}
main .show #header p {
  color: #ccc;
  font-size: 20px;
  line-height: 50px;
}
main .show div {
  margin-top: 10px;
  margin-left: 10px;
  width: 160px;
  height: 190px;
  float: left;
}
main .show div img {
  width: 160px;
  height: 120px;
}
main .show div p {
  color: #fff;
  text-align: center;
}
main .show div p:nth-of-type(2) {
  color: #ffd000;
}

.mask {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 10;
}
.mask div {
  padding: 50px 50px 0 50px;
  width: 300px;
  height: 300px;
  background: #0c0669;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mask div h2 {
  color: #ffd000;
  text-align: center;
}
.mask div img {
  width: 200px;
  height: 150px;
}
.mask div p {
  text-align: center;
}
.mask div input {
  margin: 15px 75px;
  width: 50px;
}

@keyframes open {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-3530px);
  }
}